<div ng-show="activeDialog == 'checkWorthiness'">
    <form>
    <div class="modal-backdrop"></div>
    <div class="modal">
        <div class="modal-header">
            <h2>{{checkWorthinessForm.title}}</h2>
            <h4>
                {{checkWorthinessForm.subtitle}}
                <sup> 
                    <a class="icon-info" title="{{checkWorthinessForm.info}}"></a>
                </sup>
            </h4>
        </div>
        <div class="modal-body">
            <h5>{{checkWorthinessForm.question}}</h5>
            <h5><ul><li><i><b>{{checkWorthinessForm.sentence}}</b></i></ul></li></h5>
            <br>
            <div ng-repeat="value in checkWorthinessForm.values">
                <label class="radio">
                    <input type="radio" ng-model="checkWorthinessReview.reviewRating.ratingValue" value="{{value.label}}" required> {{value.expl}}
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="leaveForm()">Close</button>
            <button type="submit" class="btn btn-primary" ng-click="submitForm('checkWorthiness')">Continue</button>
        </div>
    </div>
    </form>
</div>

<div ng-show="activeDialog == 'rephraseClaim'">
    <form>
        <div class="modal-backdrop"></div>
        <div class="modal">
            <div class="modal-header">
                <h2>{{rephraseClaimForm.title}}</h2>
                <h4>{{rephraseClaimForm.subtitle}}</h4>
            </div>
                <div class="modal-body">
                    <h5>
                        {{rephraseClaimForm.question}}
                        <sup> 
                            <a class="icon-info" title="{{rephraseClaimForm.info}}"></a>
                        </sup>
                    </h5>
                    <ul><li><h5><i><b>{{rephraseClaimForm.sentence}}</b></i></h5></ul></li>
                    <br>
                    <label>
                        {{rephraseClaimForm.value}} 
                        <textarea class="crowd-acred-text-box" ng-model="rephraseClaimReview.normalizedClaim.text" required></textarea>
                    </label>
                </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="leaveForm()">Close</button>
                <button class="btn btn-danger" ng-click="skipForm('rephraseClaim')">Skip</button>
                <button type="submit" class="btn btn-primary" ng-click="submitForm('rephraseClaim')">Continue</button>
            </div>
        </div>
    </form>
</div>

<div ng-show="activeDialog == 'simplifyClaim'">
    <form>
        <div class="modal-backdrop"></div>
        <div class="modal">
            <div class="modal-header">
                <h2>{{simplifyClaimForm.title}}</h2>
                <h4>{{simplifyClaimForm.subtitle}}</h4>
            </div>
                <div class="modal-body">
                    <h5>
                        {{simplifyClaimForm.question}}
                        <sup> 
                            <a class="icon-info" title="{{simplifyClaimForm.info}}"></a>
                        </sup>
                    </h5>
                    <ul><li><h5><i><b>{{simplifyClaimForm.sentence}}</b></i></h5></ul></li>
                    <br>
                    <label>
                        {{simplifyClaimForm.value}} 
                        <textarea class="crowd-acred-text-box" ng-model="simplifyClaimReview.normalizedClaim.text" required></textarea>
                    </label>
                </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="leaveForm()">Close</button>
                <button class="btn btn-danger" ng-click="skipForm('simplifyClaim')">Skip</button>
                <button type="submit" class="btn btn-primary" ng-click="submitForm('simplifyClaim')">Continue</button>
            </div>
        </div>
    </form>
</div>

<div ng-show="activeDialog == 'sentenceSimilarity'">
    <form>
        <div class="modal-backdrop"></div>
        <div class="modal">
            <div class="modal-header">
                <h2>{{sentenceSimilarityForm.title}}</h2>
                <h4>{{sentenceSimilarityForm.subtitle}}</h4>
            </div>
            <div class="modal-body">
                <h5>{{sentenceSimilarityForm.question}}</h5>
                <div ng-repeat="value in sentenceSimilarityForm.sentencePair">
                    <ul><li><h5><i><b>{{value}}</b></i></h5></ul></li>
                </div>
                <br>
                <div ng-repeat="value in sentenceSimilarityForm.values | orderBy:'-label'">
                    <label class="radio">
                        <input type="radio" ng-model="sentenceSimilarityReview.reviewRating.ratingValue" value="{{value.label}}" required> {{value.expl}}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="leaveForm()">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="submitForm('sentenceSimilarity')">Continue</button>
            </div>
        </div>
    </form>
</div>

<div ng-show="activeDialog == 'stanceDetection'">
    <form>
        <div class="modal-backdrop"></div>
        <div class="modal">
            <div class="modal-header">
                <h2>{{stanceDetectionForm.title}}</h2>
                <h4>{{stanceDetectionForm.subtitle}}</h4>
            </div>
            <div class="modal-body">
                <h5>{{stanceDetectionForm.question}}</h5>
                <div ng-repeat="value in stanceDetectionForm.sentencePair">
                    <ul><li><h5><i><b>{{value}}</b></i></h5></ul></li>
                </div>
                <br>
                <div ng-repeat="value in stanceDetectionForm.values">
                    <label class="radio">
                        <input type="radio" ng-model="stanceDetectionReview.reviewRating.ratingValue" value="{{value.label}}" required> {{value.expl}}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="leaveForm()">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="submitForm('stanceDetection')">Continue</button>
            </div>
        </div>
    </form>
</div>

<div ng-show="activeDialog == 'endForm'">
    <form>
        <div class="modal-backdrop"></div>
        <div class="modal">
            <div class="modal-body" style="text-align:center">
                <br>
                    <h3>Thank you for your time and your helpful feedback!</h3>
                <br>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="leaveForm()">Close</button>
            </div>
        </div>
    </form>
</div>