<div class="reviewGraph">

  <div class="rev-graph-sidebar">
    <p>
      <p class="icon-info" title="Click on an icon below to hide/display a node type in the reviewGraph"></p>
    </p>
    <p>
      <button ng-click="sidebarGraphEvent('tweet:'+data.mainNode)" title="Tweet">
        <img id="tweet_sideButton_{{data.mainNode}}" src='img/tweet_symbol.svg'/>
      </button>
    </p>
    <p>
      <button ng-click="sidebarGraphEvent('revCred:'+data.mainNode)" title="Review Credibility">
        <img id="revCred_sideButton_{{data.mainNode}}" src='img/revCred_symbol.svg'/>
      </button>
    </p>
    <p>
      <button ng-click="sidebarGraphEvent('claimRev:'+data.mainNode)" title="Claim Reviewed">
        <img id="claimRev_sideButton_{{data.mainNode}}" src='img/claimRev_symbol.svg'/>
      </button>
    <p>
      <button ng-click="sidebarGraphEvent('bot:'+data.mainNode)" title="Bot">
      <img id="bot_sideButton_{{data.mainNode}}" src='img/bot_symbol.svg'/>
      </button>
    </p>
    <p>
      <button ng-click="sidebarGraphEvent('website:'+data.mainNode)" title="Web Site" style='vertical-align: middle' width="20" height="20">
        <img id="website_sideButton_{{data.mainNode}}" src='img/website_symbol.svg'/>
      </button>
    </p>
    <p>
      <button ng-click="sidebarGraphEvent('singleSent:'+data.mainNode)" title="Sentence">
        <img id="singleSent_sideButton_{{data.mainNode}}" src='img/sent_symbol.svg'/>
      </button>
    </p>
    <p>
      <button ng-click="sidebarGraphEvent('sentPair:'+data.mainNode)" title="Sentence Pair"> 
        <img id="sentPair_sideButton_{{data.mainNode}}" src='img/sentPair_symbol.svg'/>
      </button>
    </p>
    <p>
      <button ng-click="sidebarGraphEvent('article:'+data.mainNode)" title="Article">
        <img id="article_sideButton_{{data.mainNode}}" src='img/article_symbol.svg'/>
      </button>
    </p>
    <p>
      <button ng-click="sidebarGraphEvent('thing:'+data.mainNode)" title="Thing">
        <img id="thing_sideButton_{{data.mainNode}}" src='img/thing_symbol.svg'/>
      </button>
    </p>
  </div>

  <div class="rev-graph-view" review-graph-view style="overflow:hidden; position:relative">
  </div>

</div>

<div class="reviewGraphInfoNodes">

  <style>

    .table-review {
      padding:30px;
      width:100%;
      height:100%;
      overflow: auto;
      background-color: #fff;
    }

    .table-review td {
    border: 1px solid #dff0d8;
    }

    .table-review tr:first-child td{
			border-top: none;
    }
    
    .table-review tr:last-child td{
			border-bottom: none;
    }
    
    .table-review tr td:first-child{
			border-left: none;
		}

		.table-review tr td:last-child{
			border-right: none;
    }

  </style>

  <div class="rev-graph-sidebar">
    <p>
      <p class="icon-info" title="Click on a graph node to display element information"></p>
    </p>
    <p>
        <div id="reviewNode_{{data.mainNode}}"></div>
    </p>
  </div>
  <table id="selectedNode_{{data.mainNode}}" class='table-review'>
  </table>

</div>