<div class="review-graph-explanation">
    Credibility evidence for saying that 
    <button class="titleButtons" ng-click="displayMainItemRev()" title="Item Reviewed">{{graph.mainItemReviewed}}</button>
     is 
    <button class="titleButtons" ng-click="displayMainNode()" title="Review">{{graph.mainNodeLabel}}</button>
</div>

<div class="review-graph">

  <div class="review-graph-sidebar">
    <div ng-hide="hideSidebarWhenCriticalPath">
        <p>
        <p class="icon-info" title="Click on an icon below to hide/display a node type in the reviewGraph"></p>
        </p>
        <!-- TODO: change the icon source from 'img/ICON_TYPE_symbol.svg' to href
        <button ng-click="sidebarGraphEvent('tweet:'+graph.id)" title="Tweet">
            <svg>
                <use id="tweet_sideButton_{{graph.id}}" xlink:href='#tweet'>
            </svg>
        </button>
        -->
        <p>
        <button ng-click="sidebarGraphEvent('tweet:'+graph.id)" title="Tweet">
            <img id="tweet_sideButton_{{graph.id}}" src='img/tweet_symbol.svg'/>
        </button>
        </p>
        <p>
        <button ng-click="sidebarGraphEvent('revCred:'+graph.id)" title="ClaimReview">
            <img id="revCred_sideButton_{{graph.id}}" src='img/revCred_symbol.svg'/>
        </button>
        </p>
        <p>
        <button ng-click="sidebarGraphEvent('claimRev:'+graph.id)" title="Review">
            <img id="claimRev_sideButton_{{graph.id}}" src='img/claimRev_symbol.svg'/>
        </button>
        <p>
        <button ng-click="sidebarGraphEvent('bot:'+graph.id)" title="Bot">
        <img id="bot_sideButton_{{graph.id}}" src='img/bot_symbol.svg'/>
        </button>
        </p>
        <p>
        <button ng-click="sidebarGraphEvent('website:'+graph.id)" title="Web Site">
            <img id="website_sideButton_{{graph.id}}" src='img/website_symbol.svg'/>
        </button>
        </p>
        <p>
        <button ng-click="sidebarGraphEvent('singleSent:'+graph.id)" title="Sentence">
            <img id="singleSent_sideButton_{{graph.id}}" src='img/sent_symbol.svg'/>
        </button>
        </p>
        <p>
        <button ng-click="sidebarGraphEvent('sentPair:'+graph.id)" title="Sentence Pair"> 
            <img id="sentPair_sideButton_{{graph.id}}" src='img/sentPair_symbol.svg'/>
        </button>
        </p>
        <p>
        <button ng-click="sidebarGraphEvent('article:'+graph.id)" title="Article">
            <img id="article_sideButton_{{graph.id}}" src='img/article_symbol.svg'/>
        </button>
        </p>
        <p>
        <button ng-click="sidebarGraphEvent('thing:'+graph.id)" title="Thing">
            <img id="thing_sideButton_{{graph.id}}" src='img/thing_symbol.svg'/>
        </button>
        </p>
    </div>
  </div>

  <div class="review-graph-render">
  </div>

</div>

<div class="review-graph-explanation">
    <button class="titleButtons" ng-click="clickCriticalPath()" title="Display only the criticalPath">{{criticalPathButtonText}}</button>
</div>

<div class="review-graph-info-nodes">
  <div class="review-graph-sidebar">
    <p>
      <p class="icon-info" title="Click on a graph node to display element information"></p>
    </p>
    <p>
        <div id="reviewNode_{{graph.id}}"></div>
    </p>
  </div>
  <div ng-show="showMainNode()" class='table-review'></div>
  <table id="selectedNodeDetailsFor_{{graph.id}}" class='table-review'>
  </table>

</div>